{{>header}}
<body>
  <div class="centro">
    <h1>Clientes</h1>
    <br>
    {{#each posts}}
    <div class="post-box">
      <h2>{{nome}}</h2>
      <p>Email: {{email}}</p>
      <p>Telefone: {{telefone}}</p>
      <p>CEP: {{cep}}</p>
      <p>Logradouro: {{logradouro}}</p>
      <p>Bairro: {{bairro}}</p>
      <p>Já treina?: {{treina}}</p>
      <p>Menssagem: {{message}}</p>
    </div>
    {{/each}}
  </div>
</body>

</html>